[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "content/presentations"]
	path = content/presentations
	url = https://github.com/silbermm/presentations
