[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "content/presentations"]
	path = content/presentations
	url = https://github.com/silbermm/presentations
[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/victoriadrake/hugo-theme-sam.git
