<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag(assigns[:page_title], suffix: " | Silbernagel.Dev") %>
    <meta property="og:title" content={assigns[:page_title] || "Silbernagel.Dev"} />
    <%= if assigns[:description] do %>
      <meta name="description" content={@description} />
      <meta property="og:description" content={@description} />
    <% end %>
    <meta property="og:type" content={assigns[:page_type] || "article"} />
    <meta property="og:url" content={assigns[:url] || "https://silbernagel.dev"} />
    <meta property="og:image" content={Routes.static_path(@conn, "/images/avatar.jpg")} />
    <meta name="robots" content="index, follow" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={Routes.static_path(@conn, "/apple-touch-icon.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={Routes.static_path(@conn, "/favicon-32x32.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={Routes.static_path(@conn, "/favicon-16x16.png")}
    />
    <link rel="manifest" href={Routes.static_path(@conn, "/site.webmanifest")} />
    <link rel="me" href="https://github.com/silbermm" />
    <link rel="me" href="https://freeradical.zone/@ahappydeath" />
    <link rel="me" href="mailto:matt@silbernagel.dev" />
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link rel="alternate" type="application/rss+xml" href={Routes.rss_url(@conn, :index)} />
  </head>
  <body class="bg-white dark:bg-[#121519] font-sans leading-normal tracking-normal">
    <%= @inner_content %>
  </body>
  <footer class="mt-8 text-center lg:text-left sticky bottom-0">
    <div class="text-gray-100 text-center p-4" style="background-color: rgba(0, 0, 0);">
      Matt Silbernagel
    </div>
  </footer>
</html>
