<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" | Silbernagel.Dev">
      <%= assigns[:page_title] %>
    </.live_title>
    <meta property="og:title" content={assigns[:page_title] || "Silbernagel.Dev"} />
    <%= if assigns[:description] do %>
      <meta name="description" content={@description} />
      <meta property="og:description" content={@description} />
    <% end %>
    <meta property="og:type" content={assigns[:page_type] || "article"} />
    <meta property="og:url" content={assigns[:url] || "https://silbernagel.dev"} />
    <meta property="og:image" content={~p"/images/avatar.jpg"} />
    <meta name="robots" content="index, follow" />
    <link rel="apple-touch-icon" sizes="180x180" href={~p"/apple-touch-icon.png"} />
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/favicon-32x32.png"} />
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/favicon-16x16.png"} />
    <link rel="manifest" href={~p"/site.webmanifest"} />
    <link rel="me" href="https://github.com/silbermm" />
    <link rel="me" href="https://freeradical.zone/@ahappydeath" />
    <link rel="pgpkey authn" href={~p"/silbernagel.pub"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer data-domain="silbernagel.dev" src="https://plausible.io/js/script.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="alternate" type="application/rss+xml" href={~p"/posts/rss.xml"} />
    <script defer type="text/javascript">
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class="bg-white dark:bg-[#121519] font-sans leading-normal tracking-normal">
    <%= @inner_content %>
  </body>
  <footer class="h-50 lg:h-30 text-left relative bottom-0 bg-black">
    <div class="flex flex-col lg:flex-row text-gray-100 p-4 justify-between w-full">
      <div class="flex flex-col w-full lg:w-1/3 ">
        <div class="text-left flex flex-row">
          <p class="lg:pt-5 h-full">
            <a href="https://fediring.net/previous?host=silbernagel.dev">←</a>
            <a href="https://fediring.net/">Fediring</a>
            <a href="https://fediring.net/next?host=silbernagel.dev">→</a>
          </p>
        </div>
      </div>
      <div class="flex flex-row justify-start lg:justify-center items-center w-full pt-4 lg:w-1/3 lg:p-0">
        <.link href="https://github.com/silbermm" target="_blank" class="pr-2">
          <img src={~p(/images/github-mark-white.svg)} class="w-8 h8" />
        </.link>
        <.link href="https://github.com/silbermm" target="_blank" class="pl-2">
          <img src={~p(/images/mastodon-logo.svg)} class="w-8 h8" />
        </.link>
      </div>
      <div class="py-3 w-full lg:w-1/3 text-left lg:text-right">
        <.button id="dark-mode" phx-hook="ToggleColorMode">Dark</.button>
        <.button id="light-mode" phx-hook="ToggleColorMode">Light</.button>
        <.button id="system-mode" phx-hook="ToggleColorMode">System</.button>
      </div>
    </div>
  </footer>
</html>
