{{ define "title"}}
  {{(.Title | markdownify) }}
{{ end }}

{{ define "layout" }}
<style type="text/css">
  .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
  .inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
  }
  body { text-align: left; }
</style>
{{ end }}

{{ define "header" }}
  <!-- override the header of base.html -->
{{ end }}

{{ define "main" }}
  <style type="text/css">
    .remark-code { font-size: 13px; }
    .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    .inverse {
      background: #272822;
      color: #777872;
      text-shadow: 0 0 20px #333;
    }
    .body { text-align: left; }
  </style>
  <textarea id="source">
    {{- .RawContent -}}
  </textarea>
  <script src="{{ "js/remark.js" | absURL }}"></script>
  <script>
    var slideshow = remark.create({
      {{ with .Params.ratio }} ratio: "{{ . }}", {{ end }}
      navigation: { scroll: false },
      countIncrementalSlides: false,
      slideNumberFormat: '%current%',
      placeholder: "dummy value to end the list without a comma"
    });
  </script>
{{ end }}

{{ define "about" }}

{{ end }}
{{ define "footer" }}

{{ end }}
